/* general */
body{
    background-repeat: repeat;
  background-image: url("../images/index/IMG_4799.jpg");
  background-size: 35%;
  background-position: center;
}

li a{
  color:#B0DDFD;
}


li a:hover:not(.active) {
  color: #F5F08E;
}
